<div class="container">

    <div class="form" *ngIf="!change">
        <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
            
                <div class="original-url">
                    <div class="form-group url" >

                        <input type="name" formControlName="url" name="name" class="form-control">
                    </div>

                    <div class="submit">
                        <button type="submit" class="button-17">
                            Encurtar
                        </button>
                    </div>
                </div>

        </form>

    </div>
    <div class="shortened-url" *ngIf="change">
        <div class="shortened-url-info">
            
            <div class="main-original-url-content">
                <span class="key"> Url Original: </span> 
                <span class="show-url"> {{originalUrl}}</span> 

            </div>

            <div class="main-shortener-url-content">
                <span class="key"> Url Encurtada: </span> 
                <span class="show-url"> {{shortenerUrl}}</span> 

                <div class="submit">
                    <button class="button-copy" (click)="copy(shortenerUrl)">Copiar</button>
                </div>
            </div>
        </div>
        <button class="new-short" (click)="newShort()">Encurtar novamente</button>

    </div>


</div>
